//styles for collections; called "places" on site

.collection{
  .page-content{
    .container{
      @media screen and (#{$bp-larger-than-tablet}){
        display: flex;
      }
    }
  }

  .collection-description{

    @media screen and (#{$bp-larger-than-tablet}){
      width: 30%;
      padding-right: 2rem;
    }
  }
}

.collection-map{
  height: 18rem;
}

.collection-items{
  @include unstyled-list;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto 4rem;

  @media screen and (#{$bp-larger-than-tablet}){
    width: 70%;
  }
}

.collection-item{
  width: calc(50% - 2rem);
  margin: 0 1rem 2rem;

  @media screen and (#{$bp-larger-than-phablet}){
    width: calc(33.333% - 2rem);
  }

  a{
    display: block;
  }
}

.collection-item-asset{
  margin: 0;

  img{
    max-width: 100%;
    height: auto;
  }
  figcaption{
    padding: 0 .25rem;
    font-size: .75rem;
  }
}

.collection-curator{
  margin-bottom: 0;
  font-size: .875rem;
  font-style:italic;
}

.collection-size{
  font-size: .875em;
  font-style: italic;
}
