.site-header{
  position: relative;
  height: 6rem;
  background-color: $secondary-color;

  .container{
    padding: 1.5rem .5rem;

    @media screen and (#{$bp-larger-than-tablet}){
      padding: 1.5rem 2rem;
    }
  }
}
