.site-header{
  max-height: 6.5rem;
  background-color: $secondary-color;

  .container{
    padding: 1rem .5rem;

    @media screen and (#{$bp-larger-than-tablet}){
      padding: 1.5rem 2rem;
    }
  }
}
