.content{
  iframe{
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.timeline-band{
  font-size: .75rem;
}

#neatline #simile{
  bottom: 0;
  right: 0;
  width: 100%;
}

#neatline #static-bubble{
  z-index: 5000;
}

#static-bubble{
  right: 20px;
  left: 20px;
  margin: auto;
  padding: 0;
  border: 0;
  box-shadow: 2px 2px 5px $dark-grey;
  font-size: .875rem;

  @media screen and (#{$bp-larger-than-tablet}){
    left: 70px;
    right: unset;
  }

  &.selected{
    opacity: 1;
  }

  .close{
    position: absolute;
    top: .5rem;
    right: 1rem;
    color: $white;
    font-size: 1.5rem;
  }

  .title{
    display: inline-block;
    width: 100%;
    padding: 2rem 2.5rem 1.5rem 2rem;
    background-color: $primary-color;
    color: $white;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .content{
    margin-top: 0;
    padding: 1rem 2rem 2rem;

    &.item{
      background-color: $light-grey;
    }

    .learn-more{
      display: block;
      margin-top: 1rem;
      text-decoration: underline;
    }
  }

  hr{
    display: none !important;
  }

  .preview{
    padding: 1rem 0 2rem;
    border-bottom: 0;
  }

  .preview-label{
    display: block;
    margin-bottom: 1rem;
    font-size: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .preview-img{
    width: 100%;
  }

  .preview-meta{
    width: 100%;
    margin-left: 0;
  }
}
