.page{
  .container{
    max-width: $max-width;
    margin: auto;
  }
}

.page-header{
  padding-top: 2rem;
  background-color: $secondary-color;

  @media screen and (#{$bp-larger-than-tablet}){
    padding-top: 4rem;
  }

  *{
    color: $white;
  }

  h1{

    font-size: 1.5rem;

    @media screen and (#{$bp-larger-than-phablet}){
      font-size: 1.75rem;
    }

    @media screen and (#{$bp-larger-than-tablet}){
      font-size: 2.25rem;
    }
  }
}

.page-header-content{
  max-width: 90%;

  @media screen and (#{$bp-larger-than-tablet}){
    max-width: 75%;
  }
}

.page-content{
  background-color: $white;
}
