//styles for browse previews

.previews{
  @include unstyled-list;
  margin-bottom: 2rem;
}

.preview{
  padding: 2rem 0;
  border-bottom: 1px solid $border-color;

  @media screen and (#{$bp-larger-than-tablet}){
    display: flex;
    flex-wrap: wrap;
  }
}

.preview-img{
  width: 25%;

  img{
    max-width: 100%;
    height: auto;
  }
}

.preview-meta{
  width: 100%;

  @media screen and (#{$bp-larger-than-tablet}){
    width: calc(70% - 2rem);
    margin-left: 2rem;
  }

  h2{
    margin-bottom: .5rem;
    text-transform: none;
    font-size: 1.25rem;
  }

  .description{
    margin-top: 0;
    font-size: .875rem;
  }
}

.record-type{
  display: inline-block;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .5px;
}
