
//form in nav
.search-form{
  display: flex;
  width: 60%;
  margin: 2rem auto 1rem;
  background-color: rgba($white, .7);

  @media screen and (#{$bp-larger-than-tablet}){
    width: auto;
    margin: 0 0 0 2rem;
    background-color: rgba($white, .4);
  }


  ::placeholder{
    color: $primary-color;
    font-size: .75rem;
    font-style: italic;
  }

  .form-control{
    width: 80%;
    display: inline-block;
  }

  input[type=text]{
    width: 100%;
    padding: 1.25rem;
    border: 0;
    background-color: transparent;
    font-family: inherit;

    @media screen and (#{$bp-larger-than-tablet}){
      padding: .75rem;
    }
  }
}

.search-button{
  display: inline-block;
  width: 20%;
  background-color: transparent;
  border: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  svg{
    width: auto;
    height: 1rem;
    fill: $primary-color;
  }
}
