#sort-links-list{
  @include unstyled-list;

  @media screen and (#{$bp-larger-than-mobile}){
    display: inline-block;
  }

  li{
    display: block;
    width: 100%;
    margin-bottom: .5rem;

    @media screen and (#{$bp-larger-than-mobile}){
      display: inline-block;
      width: auto;
      margin-left: 1rem;
      margin-bottom: 0;
    }

    a{
      display: block;
      padding: .5rem;
      background-color: $light-grey;
      letter-spacing: .5px;
      color: $black;
      font-size: .75rem;
    }
  }
}

.sort-label{
  display: block;
  margin-bottom: .5rem;

  @media screen and (#{$bp-larger-than-mobile}){
    display: inline-block;
    margin-bottom: 0;
  }
}
